body {
    text-align: center;
    background-color: #fff;
}

input {
    width: 16em;
    height: 1.6em;
    font-size: 1em;
}

h2 {
    color: #000;
}

div {
    margin: 5px;
}

div.a {
    font-size: 1.5em;
}

label#err {
    color: #F00;
}

button {
    margin: 2pt 0;
    padding: 2pt;
    width: 50pt;
    background-color: #4caf50;
    font-size: 1.2em;
}

select {
    font-size: 1.2em;
}

span {
    color: #f8f;
}

.grid {
    margin: 10px auto;
    width: 100%;
}

.grid th {
    border: 1px solid #4caf50;
    background-color: cadetblue;
}

.grid td {
    overflow: hidden;
    text-overflow: ellipsis;
    width: 8%;
}

.grid tr:nth-child(even) {
    background: #eee
}